/* ---------------- css variable ---------------- */
:root{
    /* ---------------- font family */
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto", sans-serif;
    --bebas-neue: "Bebas Neue", sans-serif;

    /* ---------------- font size */
    --fs-14px: 0.875rem;
    --fs-16px: 1rem;
    --fs-18px: 1.125rem;
    --fs-20px: 1.25rem;
    --fs-24px: 1.5rem;
    --fs-25px: 1.589rem;
    --fs-36px: 2.25rem;
    --fs-48px: 3rem;
    --fs-60px: 3.75rem;
    --fs-80px: 5rem;

    /* ---------------- line height */
    --lh-18px: 18px;
    --lh-20px: 20px;
    --lh-24px: 24px;
    --lh-26px: 26px;
    --lh-28px: 28px;
    --lh-31px: 31px;
    --lh-42px: 42px;
    --lh-60px: 60px;
    --lh-80px: 80px;

    /* ---------------- color */
    --white: #fff;
    --money-banks: #A4BC46;
    --very-blue: #363958;
    --full-yellow: #FABE4C;
    --black-lacquer: #3E3E3E;
    --vanilla-shake: #FFFBF0;

    /* ---------------- gradient color */
    --gradient: linear-gradient(180.00deg, rgba(164, 188, 70), rgb(133, 100, 25) 100%);

    /* ---------------- border radius */
    --bor-ra-8px: 8px;
    --bor-ra-10px: 10px;
    --bor-ra-20px: 20px;

    /* ---------------- box shadow */
    --box-shadow: 0, 10, 30, 0 rgba(0, 0, 0, 0.05);

}

/*? ---------------- responsive ---------------- */

/* ----------------------- mobile device (max-width 676px) */
@media screen and (max-width: 676px){
    /* ---------------- reusable class */
    .container{
        padding: 0 15px;
    }

    .btn{
        width: 170px;
    }

    .heading-tx{
        font-size: var(--fs-36px);
    }

    /* ---------------- header */
    .nav-container{
        padding-top: 30px;
    }

    .nav-container .logo{
        width: 185px;
    }

    .nav-container .logo .logo-img{
        width: 185px;
    }

    .nav-container .navbar{
        display: none;
    }

    .nav-container .mobile-nav{
        display: block;
    }

    .home-container{
        flex-direction: column;
        margin-top: 52px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .home-container .home-details{
        width: 100%;
    }

    .home-container .home-details .home-tx-content{
        max-width: 315px;
        width: 100%;
    }

    .home-container .home-details .home-tx-content .home-tx{
        font-size: var(--fs-60px);
        line-height: var(--lh-60px);
    }

    .home-container .home-model{
        max-width: 360px;
        width: 100%;
        height: 360px;
        margin-top: 50px;
    }
    /* ---------------- header */

    /* ---------------- main */
    /* ---------------- same for man and woman section design */
    .section-heading{
        text-align: center;
        margin-bottom: 35px;
    }

    .product-container{
        grid-template-columns: 1fr;
        gap: 20px;
    } 

    .product-container .product-card-bx{
        max-width: 370px;
        width: 100%;
    }
    /* ---------------- same for man and woman section design */
    /* ---------------- product about section */
    .product-about-container{
        flex-direction: column-reverse;
        margin-top: 80px;
    }

    .product-about-container .pro-ab-content{
        max-width: 100%;
        margin-top: 20px;
    }

    .product-about-container .pro-ab-content .pro-ab-card{
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .product-about-container .pro-ab-ill-bx{
        max-width: 400px;
        width: 100%;
        height: 173px;
    }
    /* ---------------- product about section */
    /* ---------------- main */
}

/* ----------------------- tablet device (min-width 576px) and (max-width 992px) */
@media screen and (min-width: 676px) and (max-width: 992px){
    /* ---------------- header */
    .nav-container .logo{
        width: 200px;
    }

    .nav-container .logo .logo-img{
        width: 200px;
    }

    .nav-container .navbar .nav-items{
        gap: 40px;
    }

    .home-container{
        flex-direction: column;
        margin-top: 70px;
    }

    .home-container .home-details{
        width: 100%;
    }
    /* ---------------- header */
    
    /* ---------------- main */
    /* ---------------- same for man and woman section design */
    .product-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    /* ---------------- same for man and woman section design */
    /* ---------------- product about section */
    .product-about-container{
        flex-direction: column;
        margin-top: 80px;
    }

    .product-about-container .pro-ab-content{
        max-width: 100%;
    }
    /* ---------------- product about section */
    /* ---------------- main */
    
    /* ---------------- footer */
    /* ---------------- footer */
}

/*? ---------------- responsive ---------------- */