/* ---------------- google font import ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ---------------- css resets class ---------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

*::selection{
    background-color: #A4BC46;
}

/* ---------------- css variable ---------------- */
:root{
    /* ---------------- font family */
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto", sans-serif;
    --bebas-neue: "Bebas Neue", sans-serif;

    /* ---------------- font size */
    --fs-16px: 1rem;
    --fs-24px: 1.5rem;
    --fs-25px: 1.589rem;
    --fs-36px: 2.25rem;
    --fs-48px: 3rem;
    --fs-60ox: 3.75rem;
    --fs-80px: 5rem;

    /* ---------------- line height */
    --lh-24px: 24px;
    --lh-26px: 26px;
    --lh-28px: 28px;
    --lh-31px: 31px;
    --lh-42px: 42px;
    --lh-80px: 80px;

    /* ---------------- color */
    --white: #fff;
    --money-banks: #A4BC46;
    --very-blue: #363958;
    --full-yellow: #FABE4C;
    --black-lacquer: #3E3E3E;
    --vanilla-shake: #FFFBF0;
    --shisha-coal: #3C3C3C;

    /* ---------------- border radius */
    --bor-ra-10px: 10px;
    --bor-ra-20px: 20px;

}

/* ---------------- reusable class ---------------- */
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(180.00deg, rgb(164, 188, 70),rgb(133, 160, 25) 100%);
    border: none;
    outline: none;
    border-radius: var(--bor-ra-10px);
    cursor: pointer;
    font-family: var(--roboto);
    font-size: var(--fs-16px);
    font-weight: 400;
    line-height: var(--lh-24px);
    color: var(--white);
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.btn:hover{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.151);
}

.btn .btn-icon .cart{
    font-size: var(--fs-24px);
}

.heading-tx{
    font-family: var(--bebas-neue);
    font-size: var(--fs-48px);
    font-weight: 500;
    color: var(--very-blue);
}

/* ---------------- header ---------------- */
#header{
    width: 100%;
    min-height: 20vh;
    background-color: var(--vanilla-shake);
}

.nav-container{
    width: 100%;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .logo{
    width: 291px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container .logo .logo-img{
    width: 291px;
}

.nav-container .navbar .nav-items{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
}

.nav-container .navbar .nav-items .nav-list{
    font-family: var(--roboto);
    font-size: var(--fs-16px);
    font-weight: 500;
    line-height: var(--lh-24px);
}

.nav-container .navbar .nav-items .nav-list .nav-link{
    color: var(--shisha-coal);
    transition: all 0.2s ease;
}

.nav-container .navbar .nav-items .nav-list .nav-link:hover{
    color: var(--money-banks);
}

.nav-container .mobile-nav{
    display: none;
}

.nav-container .mobile-nav .mobile-menu{
    font-size: var(--fs-25px);
    color: var(--shisha-coal);
}

.home-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 110px;
    margin-bottom: 100px;
    padding-bottom: 55px;
}

.home-container .home-details .home-tx-content{
    max-width: 450px;
    width: 100%;
}

.home-container .home-details .home-tx-content .home-tx{
    font-family: var(--bebas-neue);
    font-size: var(--fs-80px);
    font-weight: 500;
    line-height: var(--lh-80px);
    color: var(--full-yellow);
    margin-bottom: 10px;
}

.home-container .home-details .home-tx-content .home-tx .color-tx{
    color: var(--very-blue);
}

.home-container .home-details .home-tx-content .home-para{
    font-family: var(--roboto);
    font-size: var(--fs-16px);
    font-weight: 400;
    line-height: var(--lh-26px);
    color: var(--shisha-coal);
    margin-bottom: 24px;
}

.home-container .home-model{
    max-width: 600px;
    height: 600px;
}

.home-container .home-model .model-img{
    width: 100%;
}
/* ---------------- header ---------------- */

/* ---------------- main ---------------- */
#main{
    width: 100%;
}

/* ---------------- woman jacket section */
.woman-jacket{
    width: 100%;
    min-height: 20vh;
}

/* --------------- same design */

.section-heading{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
}

.product-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.product-container .product-card-bx{
    width: 100%;
    min-height: 550px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.055);
    padding: 18px;
    border-radius: var(--bor-ra-20px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-container .product-card-bx .product-img-bx{
    width: 100%;
    height: 330px;
    background-color: #F1F1F1;
    border-radius: var(--bor-ra-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
}

.product-container .product-card-bx .product-img-bx .product-img{
    max-width: 295px;
    width: 100%;
    height: 295px;
}

.product-container .product-card-bx .product-card-details{
    width: 100%;
}

.product-container .product-card-bx .product-card-details .card-tx{
    font-family: var(--roboto);
    font-size: var(--fs-24px);
    font-weight: 600;
    line-height: var(--lh-28px);
    margin-bottom: 13px;
    color: var(--very-blue);
}

.product-container .product-card-bx .product-card-details .card-para{
    max-width: 300px;
    width: 100%;
    font-family: var(--roboto);
    font-size: var(--fs-16px);
    font-weight: 400;
    line-height: var(--lh-26px);
    color: var(--black-lacquer);
    margin-bottom: 20px;
}

.product-container .product-card-bx .product-rate-and-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-container .product-card-bx .product-rate-and-btn .rate-tx{
    font-family: var(--roboto);
    font-size: var(--fs-36px);
    font-weight: 900;
    line-height: var(--lh-42px);
    color: var(--full-yellow);
}

.product-container .product-card-bx .product-img-bx .img-2{
    max-width: 203px;
    width: 100%;
    height: 273px;
}

.product-container .product-card-bx .product-img-bx .img-3{
    max-width: 210px;
    width: 100%;
    height: 257px;
}

.product-container .product-card-bx .product-img-bx .img-4{
    max-width: 200px;
    width: 100%;
    height: 270px;
}

.product-container .product-card-bx .product-img-bx .img-5{
    max-width: 243px;
    width: 100%;
    height: 256px;
}

.product-container .product-card-bx .product-img-bx .img-6{
    max-width: 192px;
    width: 100%;
    height: 280px;
}

/* --------------- same design */

/* ---------------- woman jacket section */


/* ---------------- main ---------------- */

/* ---------------- footer ---------------- */
/* ---------------- footer ---------------- */